// Place all the styles related to the works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#works {
  .calendar {
    width: 100%;

    header {
      display: flex;
      flex-wrap:wrap;

      p {
        width: calc(100% / 7);
      }
    }

    div {
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      .day {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        border-left: 1px solid #ccc;
        width: calc((100% - 14px) / 7);

        &:not(:first-child) {
          border-right: 1px solid #ccc;
        }
      }
    }
  }
}
